<html>
<head>
{% load static %}
<title>MyWebProject</title>
<link rel="stylesheet" href="{% static 'rate/bootstrap.min.css' %}" type="text/css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'rate/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>
<div class="container-fluid">
<div class="row">
   <div class="col-md-12">
<!-- Navbar -->
<div class="top">
  <div class="bar card-2" style="background-color:#f44336;color:white;font-size:18px;width:100%">
    
    <a href="{% url 'polls:index' %}" class="bar-item button hover-white" style="padding:12px 24px">Home</a>
    <a href="{% url 'rate:index' %}" class="bar-item button hover-white" style="padding:12px 24px">Rate</a>
    <a href="{% url 'about:index' %}" class="bar-item button hover-white" style="padding:12px 24px">About Us</a>
   
    </div>
</div>
</div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="bar-block" style="color:white;font-size:18px;display:none">
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 1</a>
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 2</a>
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 3</a>
   </div>  
</div>
<br>

<header class=" container1 row" style="background-color:#f44336;color:black;font-size:18px;padding:75px 16px 75px 16px;text-align:center;margin:0px 0px ">
 
      <h1 style="margin:16px;font-size:63px">SELECT YOUR DEPARTMENT</h1>
   
</header>
<div class="row" style="text-align:center;margin-top: 25px;">
  <div class="col-md-3" style="box-shadow: 10px 10px 5px grey">
    <a href="{% url 'computer:index' %}"><img class="img-responsive" style="margin:auto;" src="{% static "images/computer.jpg" %}"></a>
      <h6>COMPUTER</h6>
   </div>
   <div class="col-md-3" style="box-shadow: 10px 10px 5px grey">
    <a href="{% url 'mechanical:index' %}"><img class="img-responsive" style="margin:auto;" src="{% static "images/mechanical.png" %}"></a>
      <h6>MECHANICAL</h6>
   </div>
 


   <div class="col-md-3" style="box-shadow: 10px 10px 5px grey">
    <a href="{% url 'electrical:index' %}"><img class="img-responsive" style="margin:auto;" src="{% static "images/electrical.jpg" %}"></a>
      <h6>ELECTRICAL</h6>
   </div>
   <div class="col-md-3" style="box-shadow: 10px 10px 5px grey">
    <a href="{% url 'civil:index' %}"><img class="img-responsive" style="margin:auto;" src="{% static "images/civil.jpg" %}"></a>
      <h6>CIVIL</h6>
   </div>
</div>
</div>
</body>
</html>
