<html>
<head>
{% load static %}
<title>MyWebProject</title>
<link rel="stylesheet" href="{% static 'polls/bootstrap.min.css' %}" type="text/css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->

<div class="top">
 
 
 
 <div class="bar card-2" style="background-color:#f44336;color:white;font-size:18px;width:100%;">
    
    
    <a href="{% url 'polls:index' %}" class="bar-item button hover-white" style="padding:12px 24px">Home</a>
    <a href="{% url 'rate:index' %}" class="bar-item button hover-white" style="padding:12px 24px">Rate</a>
    <a href="{% url 'about:index' %}" class="bar-item button hover-white" style="padding:12px 24px">About Us</a>
 </div>

  

  


  <!-- Navbar on small screens -->
  <div id="navDemo" class="bar-block" style="color:white;font-size:18px;display:none">
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 1</a>
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 2</a>
    <a href="#" class="bar-item button" style="padding:12px 24px">Link 3</a>
    
  </div>

</div>
   

<!-- Header -->
<header class="container1 row " style="padding:128px 16px;background-color:#f44336;color:black;text-align:center;left:0">
  
  <h1 style="margin:16px;font-size:63px">ASSESS DTU PROFESSORS</h1>
  <!--
  <button class="button" style="background-color:#000;color:#fff;padding:12px 24px;font-size:18px;margin-top:16px">RATE PROFESSOR </button>
  <br>
  <button class="button" style="background-color:#000;color:#fff;padding:12px 24px;font-size:18px;margin-top:16px">SEARCH PROFESSOR </button>
  -->
</header>

<!-- images -->
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static "images/dtu_img4.jpg" %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static "images/dtu_img1.jpg" %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static "images/dtu_img3.jpg" %}" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
<script type="text/javascript">
  var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1} 
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
</body>
</html>